# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/
*.code-workspace

# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Environment
# ==========================
.env
.venv/
venv/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Build
# ==========================
dist/
build/